@import "variables";

.page-back {

  color: $black;
  text-decoration: none;
  width: $icon-button-width;
  height: $icon-button-width;
  text-align: center;

  i {
    font-size: 24px;
    line-height: $icon-button-width;
  }

}

.el-breadcrumb__item {
  display: inline-flex;
}


.solo button {
  width: 100%;
}
