@import "buttons.scss";
@import "pages.scss";
@import "forms";
@import "lists";
@import "navs";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  overflow: hidden;
}

.busy {
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}
