@import "variables";


.mint-cell-allow-right::after {
  right: 10px;
}

.mint-cell-wrapper {
  padding-right: 7px;
  padding-left: 7px;
}

.cell-list {

  .mint-cell {
    height: auto;
  }

  .mint-cell-wrapper {
    padding: 7px;
  }

  .mint-cell-title {
    margin-right: 14px;
    //margin-left: 4px;
  }

  .mint-cell-text {
    //font-size: 14px;
  }

}

.mint-indexsection-index {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mint-indexlist-content {
  -webkit-overflow-scrolling: touch;
}
