@import "responsive";

.navs-header, .nav-header {

  margin-bottom: 7px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .title {

    font-size: 120%;
    color: $black;

    a {
      position: relative;
      top: 1px;
      margin-left: $margin-top;
    }

    strong {
      font-weight: 700;
    }

  }

  .prev, .next {
    min-width: 45px;
    font-size: 130%;
    border: none;
  }

}
