@import "responsive";

.nav-header {

  //margin-bottom: 7px;
  padding: 2px 2px 3px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .title {

    font-size: 120%;
    color: $black;

    a {
      position: relative;
      top: 1px;
      margin-left: $margin-top;
    }

    strong {
      font-weight: 700;
    }

    > * {
      display: block;
    }

  }

  .prev, .next {
    min-width: 45px;
    font-size: 130%;
    border: none;
  }

  .totals > * + * {
    margin-left: $margin-right;
  }

}
