@import "responsive";

.top-header {

  position: fixed;
  z-index: 1;
  background: white;
  padding: 16px 0;
  width: 100%;
  top: 0;

  .el-breadcrumb {
    font-size: 110%;
    line-height: 1.1;
  }

  & + * {
    margin-top: 52px;
  }

}

.section-title {

  padding: 16px;
  display: block;
  line-height: 1;
  color: $dark-gray;

  text-align: center;
  font-weight: 700;
  font-size: 120%;

}

h1 {

  margin: 0;
  font-size: 160%;
  text-align: center;
  color: $dark-gray;
  padding: 9px;
  background: #fafafa;

  @include responsive-only(xxs) {
    font-size: 140%;
  }

}

h2 {
  font-size: 140%;
  text-align: center;
  @include responsive-only(xxs) {
    font-size: 130%;
  }
}

.lead {

  color: $dark-gray;
  margin: $margin-top * 2 0;
  font-size: 110%;

}
