@import "variables";

.section-title {

  font-size: 16px;
  padding: 16px;
  display: block;
  line-height: 1;
  color: $dark-gray;

  text-align: center;
  font-weight: 700;

}

h1 {
  font-size: 160%;
  color: $dark-gray;
}
